<div class="container">
    <div class="row">
        <section class="col-sm-3">
          <app-water-tank class="col-sm-12"></app-water-tank>
          <app-new-field class="col-sm-12"></app-new-field>
        </section>

        <section class="col-sm-9">
          <app-field *ngFor="let field of game.fields" [field]="field"></app-field>
        </section>
      </div>
    </div>
<footer class="row">
  <span class="col-sm-3">Temps passé : {{ game.time }} j</span>
  <span class="col-sm-3">Nombre de récolte : {{ game.harvestNumber }}</span>
  <span class="col-sm-3">Argent : {{ game.money}}</span>
  <span class="col-sm-3">Eau disponible : {{ game.waterStock}}</span>
</footer>
